.hero {
	.container {

		.search {
			min-width: 540px;
		}





		button {
			height: 60px;
			padding: 10px 24px;

			span {
				display: flex;
				;
			}

			svg {
				margin-right: 12px;
			}
		}
	}


}