/* Font */
$baseFontSize: 16px;

//Colors
$whiteColor: #fff;
$blackColor: #000;
$AccentColor: #5373FD;
$BlueColor: #00A2FF;
$RedColor: #FF6363;
$DarkGreayColor: #333333;
$whiteBackgroundColor: #fafafa;
$GreyColor: #999999;